---
import BaseLayout from "@layouts/BaseLayout.astro";
import '@styles/index.css'
---

<BaseLayout>
  <h1>Selecciona un Usuario</h1>
  <ul>
    <li><a href="/juan_flores">Juan_Flores</a></li>
    <li><a href="/usuario2">Usuario 2</a></li>
    <li><a href="/usuario3">Usuario 3</a></li>
  </ul>
</BaseLayout>
