---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Índice de Usuarios">
  <h1>Bienvenido al índice de usuarios</h1>
  <ul>
    <li><a href="/juanflores">Juan Flores</a></li>
    <li><a href="/otrousuario1">Otro Usuario 1</a></li>
    <li><a href="/otrousuario2">Otro Usuario 2</a></li>
  </ul>
</BaseLayout>