---
import LinkButton from "./LinkButton.astro";
const { links = [] } = Astro.props;
---

<div class="link-buttons">
  {links.map((link: { url: any; title: any; }) => <LinkButton href={link.url} text={link.title} />)}
</div>
