---
const { username, profilePicture, description } = Astro.props;
---

<div class="profile-card">
  <img src={profilePicture} alt={`Foto de ${username}`} class="profile-card__image" />
  <h1 class="profile-card__name">{username}</h1>
  <p class="profile-card__description">{description}</p>
</div>
